@font-face {
   font-family: 'Inter-Bold';
   font-display: swap;
   src: url('file:///C:/Users/jacob/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-01-23_210958/fonts/Inter-Bold/font.ttf');
}
